.statistic-card {
  flex: 1;

  .statistic-card-1 {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .statistic-card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      & p {
        font-size: 18px;
        font-weight: 700;
        flex: 1;
        text-align: left;
      }
    }

    .statistic-card-body {
      background-color: #f8f9fa;
      border-radius: 8px;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 14px;

      .statistic-card-chart,
      .statistic-card-index {
        flex: 1;
      }

      .statistic-card-index {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 2px 4px -2px #1b2e5e14;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 15px;

        p:first-child {
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
        }
      }
    }
  }
}
