.task-item {
  padding: 8px 16px;
  border-radius: 14px;
  background-color: #f3f4f6;

  .task-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .task-item-title {
      font-weight: 700;
    }
  }

  .task-item-desc {
    line-height: 20px;
    font-weight: 600;
    color: #5d6a83;
    word-break: break-word;
  }
}
