.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .dashboard-header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .dashboard-statistics-1,
  .dashboard-statistics-2,
  .dashboard-statistics-3,
  .dashboard-statistics-4,
  .dashboard-statistics-5 {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
