//primary color
$primary-base: #2563eb;
$primary-50: #eff6ff;
$primary-100: #dbeafe;
$primary-200: #bfdbfe;
$primary-300: #93c5fd;
$primary-400: #60a5fa;
$primary-500: #3b82f6;
$primary-600: #2563eb;
$primary-700: #1d4ed8;
$primary-800: #1e40af;
$primary-900: #1e3a8a;

//secondary pink-color
$secondary-pink-base: #ec4899;
$secondary-pink-50: #fdf2f8;
$secondary-pink-100: #fce7f3;
$secondary-pink-200: #fbcfe8;
$secondary-pink-300: #f9a8d4;
$secondary-pink-400: #f472b6;
$secondary-pink-500: #ec4899;

//secondary orange-color
$secondary-orange-base: #f6a723;
$secondary-orange-50: #fffbeb;
$secondary-orange-100: #fef3c7;
$secondary-orange-200: #fde68a;
$secondary-orange-300: #fcd34d;
$secondary-orange-400: #fbbf24;
$secondary-orange-500: #f6a723;

//secondary green-color
$secondary-green-base: #24d164;
$secondary-green-50: #f0fdf4;
$secondary-green-100: #dcfce7;
$secondary-green-200: #bbf7d0;
$secondary-green-300: #86efac;
$secondary-green-400: #4ade80;
$secondary-green-500: #24d164;

//grey-color
$grey-50: #f8fafc;
$grey-100: #f1f5f9;
$grey-200: #e2e8f0;
$grey-300: #cbd5e1;
$grey-400: #94a3b8;
$grey-500: #64748b;
$grey-600: #475569;
$grey-700: #334155;
$grey-800: #1e293b;
$grey-900: #0f172a;

//additional color
$white: #ffffff;
$indigo: #6366f1;
$sky: #38bdf8;
$purple: #8b5cf6;
$emerald: #34d399;
